alias ec2='ssh -i ~/github/dot-files/destroyer.pem ec2-user@ec2-35-154-233-157.ap-south-1.compute.amazonaws.com'
alias agenda="gcalcli --refresh agenda"

# bookmarks
alias dl='cd ~/Downloads; la'
alias doc='cd ~/Documents; la'
alias docs='cd ~/Documents; la'

# shortcuts
alias c='clear'
alias cat='bat'
alias cz='echo > ~/.z'
alias e='exit'
alias incognito='unset HISTFILE'
alias ln='ln -s'
alias mp3-dl='youtube-dl --ignore-config --extract-audio \
    --audio-format "mp3" --audio-quality 0 --embed-thumbnail \
    --add-metadata --metadata-from-title "%(artist)s - %(title)s" \
    --output "%(title)s.%(ext)s"'
alias timer='echo "Timer started. Stop with Ctrl-D." && date "+%a, %d %b %H:%M:%S" && time cat && date "+%a, %d %b %H:%M:%S"'
alias weather='curl -s wttr.in/Ponorogo | sed -n "1,17p"'

# developer shortcuts
alias g='git'
alias git-pull-dir='find . -mindepth 1 -maxdepth 1 -type d -print -exec git -C {} pull \;'
alias em='emacs -Q'
alias py='python3'
alias vi='nvim -p'
